@font-face {
    font-family: 'Poppins';
    src: url("/fonts/poppins-bold.woff2") format('woff2'),
         url("/fonts/poppins-bold.woff") format('woff'),
         url("/fonts/poppins-bold.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: black;
}

a.fullscreen {
    display: block;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    background: black;
    color: white;
    text-decoration: none;
}



#location-tiles {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;

    list-style-type: none;
    padding: 0;
    margin: 0;
}

#location-tiles li {
    flex: 20%;
    height: auto;
    margin: 0;
    padding: 2px;
    text-align: center;
}

#location-tiles li a {
    display: block;
    border: 1px solid #CCC;
    border-radius: 5px;
    height: 100px;
    font-size: 40px;
    line-height: 100px;
    text-decoration: none;
    color: white;
}

#location-tiles li a:hover {
    background-color: #EEE;
}

#location-tiles li a.taken,
#location-tiles li a.taken:hover {
    opacity: 0.3;
    background-color: #FFF;
}

#location-tiles li a.current,
#location-tiles li a.current:hover {
    background-color: blue;
}


div.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-position: center center;
    background-size: 100% auto;

    background-color: black;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms li
}


h1 {
    color: white;
}

h3 {
    color: white;
}

h1.selected-position {
    font-size: 50px;
    line-height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
}




div.logo1 {
    background-image: url(images/Logo-1.gif);
}

div.logo2 {
    background-image: url(images/logo-2.gif);
}

div.abstract1 {
    background-image: url(images/abstract1.gif);
}

div.abstract2 {
    background-image: url(images/abstract2.gif);    
}

div.abstract3 {
    background-image: url(images/abstract3.gif);
}

div.abstract4 {
    background-image: url(images/abstract4.gif);
}

div.abstract5 {
    background-image: url(images/fill.gif);
}

div.abstract6 {
    background-image: url(images/H.gif);
}

div.abstract7 {
    background-image: url(images/f-sparklemover.gif);
}

div.colour1 {
    background-image: url(images/blue.gif);
}

div.colour2 {
    background-image: url(images/orange.gif);
}

div.colour3 {
    background-image: url(images/pink.gif);
}

div.colour4 {
    background-image: url(images/red.gif);
}

div.colour5 {
    background-image: url(images/white.gif);
}






#admin-view {
    display: flex;
    flex-flow: row wrap;
    
    align-items: stretch;
    padding: 0;
    margin: 0;
}

#admin-view div#admin-locations {
    flex: 50%;
    margin: 0;
    padding: 10px;
    text-align: center;
}

#admin-view div#admin-controls {
    flex: 50%;
    margin: 0;
    padding: 10px;
    text-align: center;
}

#admin-locations #location-tiles li a {
    background-color: red;
    color: white;
}

#admin-locations #location-tiles li a.taken,
#admin-locations #location-tiles li a.taken:hover {
    background-color: green;
}

#admin-locations #location-tiles li a.current,
#admin-locations #location-tiles li a.current:hover {
    background-color: blue;
}

#location-tiles li.tier-2::before,
#location-tiles li.tier-3::before {
      content: '';
      margin-top: 20px;
      display: block;
}

#location-tiles li.tier-2 ~ li.tier-2::before,
#location-tiles li.tier-3 ~ li.tier-3::before {
    margin-top: 0;
}



#admin-view button {
    padding: 20px;
    font-size: 20px;
    line-height: 30px;
    background: black;
    color: white;
}

#admin-view button.selected {
    background: white;
    color: black;
}
