@font-face {
    font-family: 'Poppins';
    src: url("/fonts/poppins-bold.woff2") format('woff2'),
         url("/fonts/poppins-bold.woff") format('woff'),
         url("/fonts/poppins-bold.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: black;
}

a.fullscreen {
    display: block;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    background: black;
    color: white;
    text-decoration: none;
}



#location-tiles {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;

    list-style-type: none;
    padding: 0;
    margin: 0;
}

#location-tiles li {
    flex: 20%;
    height: auto;
    margin: 0;
    padding: 2px;
    text-align: center;
}

#location-tiles li a {
    display: block;
    border: 1px solid #CCC;
    border-radius: 5px;
    height: 100px;
    font-size: 40px;
    line-height: 100px;
    text-decoration: none;
    color: white;
}

#location-tiles li a:hover {
    background-color: #EEE;
}

#location-tiles li a.taken,
#location-tiles li a.taken:hover {
    opacity: 0.3;
    background-color: #FFF;
}

#location-tiles li a.current,
#location-tiles li a.current:hover {
    background-color: blue;
}


div.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-position: center center;
    background-size: 100% auto;

    background-color: black;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms li
}


h1 {
    color: white;
}

h3 {
    color: white;
}

h1.selected-position {
    font-size: 50px;
    line-height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
}




div.logo1 {
    background-image: url(images/Logo-1.gif);
}

div.logo2 {
    background-image: url(images/logo-2.gif);
}

div.abstract1 {
    background-image: url(images/abstract1.gif);
}

div.abstract2 {
    background-image: url(images/abstract2.gif);    
}

div.abstract3 {
    background-image: url(images/abstract3.gif);
}

div.abstract4 {
    background-image: url(images/abstract4.gif);
}

div.abstract5 {
    background-image: url(images/fill.gif);
}

div.abstract6 {
    background-image: url(images/f-sparklemover.gif);
}

div.colour1 {
    background-image: url(images/blue.gif);
}

div.colour2 {
    background-image: url(images/orange.gif);
}

div.colour3 {
    background-image: url(images/pink.gif);
}

div.colour4 {
    background-image: url(images/red.gif);
}

div.colour5 {
    background-image: url(images/white.gif);
}


div.letter-0 {
    background-image: url(images/letters/0.gif);
}

div.letter-1 {
    background-image: url(images/letters/1.gif);
}

div.letter-2 {
    background-image: url(images/letters/2.gif);
}

div.letter-3 {
    background-image: url(images/letters/3.gif);
}

div.letter-4 {
    background-image: url(images/letters/4.gif);
}

div.letter-5 {
    background-image: url(images/letters/5.gif);
}

div.letter-6 {
    background-image: url(images/letters/6.gif);
}

div.letter-7 {
    background-image: url(images/letters/7.gif);
}

div.letter-8 {
    background-image: url(images/letters/8.gif);
}

div.letter-9 {
    background-image: url(images/letters/9.gif);
}

div.letter-a {
    background-image: url(images/letters/a.gif);
}

div.letter-b {
    background-image: url(images/letters/b.gif);
}

div.letter-c {
    background-image: url(images/letters/c.gif);
}

div.letter-d {
    background-image: url(images/letters/d.gif);
}

div.letter-e {
    background-image: url(images/letters/e.gif);
}

div.letter-f {
    background-image: url(images/letters/f.gif);
}

div.letter-g {
    background-image: url(images/letters/g.gif);
}

div.letter-h {
    background-image: url(images/letters/h.gif);
}

div.letter-i {
    background-image: url(images/letters/i.gif);
}

div.letter-j {
    background-image: url(images/letters/j.gif);
}

div.letter-k {
    background-image: url(images/letters/k.gif);
}

div.letter-l {
    background-image: url(images/letters/l.gif);
}

div.letter-m {
    background-image: url(images/letters/m.gif);
}

div.letter-n {
    background-image: url(images/letters/n.gif);
}

div.letter-o {
    background-image: url(images/letters/o.gif);
}

div.letter-p {
    background-image: url(images/letters/p.gif);
}

div.letter-q {
    background-image: url(images/letters/q.gif);
}

div.letter-r {
    background-image: url(images/letters/r.gif);
}

div.letter-s {
    background-image: url(images/letters/s.gif);
}

div.letter-t {
    background-image: url(images/letters/t.gif);
}

div.letter-u {
    background-image: url(images/letters/u.gif);
}

div.letter-v {
    background-image: url(images/letters/v.gif);
}

div.letter-w {
    background-image: url(images/letters/w.gif);
}

div.letter-x {
    background-image: url(images/letters/x.gif);
}

div.letter-y {
    background-image: url(images/letters/y.gif);
}

div.letter-z {
    background-image: url(images/letters/z.gif);
}





#admin-view {
    display: flex;
    flex-flow: row wrap;
    
    align-items: stretch;
    padding: 0;
    margin: 0;
}

#admin-view div#admin-locations {
    flex: 50%;
    margin: 0;
    padding: 10px;
    text-align: center;
}

#admin-view div#admin-controls {
    flex: 50%;
    margin: 0;
    padding: 10px;
    text-align: center;
}

#admin-locations #location-tiles li a {
    background-color: red;
    color: white;
}

#admin-locations #location-tiles li a.taken,
#admin-locations #location-tiles li a.taken:hover {
    background-color: green;
}

#admin-locations #location-tiles li a.current,
#admin-locations #location-tiles li a.current:hover {
    background-color: blue;
}

/*#location-tiles li.tier-2::before,
#location-tiles li.tier-3::before {
      content: '';
      margin-top: 20px;
      margin-left: 500px;
      display: block;
}

#location-tiles li.tier-2 ~ li.tier-2::before,
#location-tiles li.tier-3 ~ li.tier-3::before {
    margin-top: 0;
    margin-left: 0;
}*/



#admin-view button {
    padding: 20px;
    font-size: 20px;
    line-height: 30px;
    background: black;
    color: white;
}

#admin-view button.selected {
    background: white;
    color: black;
}
